body {
  width: 100%;
  height: 100%;
  font-size: 16px;
  margin: 0;
  padding: 5em;
  overflow-x: hidden;
}

.content {
  width: 100%;
  height: 100%;
  text-align: center;
}

.logo {
  width: 50%;
  height: 50%;
}
